.footer {
  bottom: 24px;
  z-index: 999;
  padding: 2px 1rem;
  font-weight: 500;
  font-size: 0.7rem;
  position: absolute;
  text-align: center;
  background-color: #f2f2f2;
  display: flex;
  border: 1px solid #666;
}

.footer span:nth-child(2) {
  margin: auto;
}

.footer svg {
  vertical-align: middle;
  cursor: pointer;
}
