.footer {
  bottom: 24px;
  z-index: 998;
  margin: 10px;
  font-weight: 500;
  font-size: 0.7rem;
  position: absolute;
  text-align: center;
  color: white;
  left: 0;
  right: 0;
}

.footerWrapper {
  width: 100%;
  position: relative;
}

.footerWrapper :first-child {
  bottom: 0;
}

.footer .dismissible {
  display: flex;
  border-radius: 8px;
  background-color: rgba(104, 13, 13, 0.6);
  padding: 2px 1rem;
}

.footer .dismissible span {
  margin: auto;
}

.footer .dismissible svg {
  margin-left: 10px;
  vertical-align: middle;
  cursor: pointer;
}

/* Mobile */
@media (max-width: 700px) {
  .footer {
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .footerWrapper {
    gap: 8px;
    display: flex;
    flex-direction: column;
  }
}
