.closeButton {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  cursor: pointer;
}

.closeButton:hover {
  background-color: #f2f2f2;
}

.content {
  padding: 48px;
}

.contentButton {
  margin-bottom: 24px;
}

@media screen and (max-width: 768px) {
  .content {
    padding: 24px;
  }
}

.drawer  {
  position: relative;
  z-index: 99999;
}

.clipboard {
  margin-top: 0.75rem;
}

.clipboardLabel {
  font-weight: 500;
  font-size: 1.1rem;
}

.openInNewIcon {
  font-size: 0.9rem;
  margin-left: 0.46875rem;
}

.share {
  margin-top: 0.75rem;
  margin-left: 0.75rem;
}

.externalLinkButton {
  text-transform: none;
}
