.footer {
  bottom: 124px;
  z-index: 998;
  margin: 10px;
  font-weight: 500;
  font-size: 0.7rem;
  position: absolute;
  text-align: center;
  color: white;
  left: 0;
  right: 0;
}

.footerWrapper {
  width: 100%;
  position: relative;
}

.footerWrapper :first-child {
  bottom: 0;
}

.footer .dismissible {
  position: relative;
  display: flex;
  border-radius: 8px;
  background-color: rgba(220, 20, 60, 0.768);
  padding: 1.7rem 0.9rem 0.9rem 0.9rem;
  width: 24rem;
  z-index: 999;
  bottom: 0.5rem;
  margin: auto;
}

.footer .dismissible span {
  margin: auto;
  text-align: justify;
  text-justify: distribute;
  letter-spacing: -0.3px;
  width: 22rem;
  font-size: 0.6rem;
}

.footer .dismissible .closeButton {
  position: absolute;
  right: -4px;
  top: 1px;
  width: 30px;
  bottom: 0;
  margin: auto;
  cursor: pointer;
}

.footer .dismissible svg {
  margin-right: 10px;
  vertical-align: middle;
  cursor: pointer;
}

/* Mobile */
@media (max-width: 700px) {
  .footer {
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .footer .dismissible {
    width: 85%;
    bottom: 4rem;
    font-size: 0.56rem;
    font-weight: 400;
    padding: 1rem 0.5rem 0.5rem 0.5rem;
  }

  .footer .dismissible span {
    letter-spacing: -0.2px;
    width: 16rem;
  }

  .footerWrapper {
    gap: 8px;
    display: flex;
    flex-direction: column;
  }
}
