.map {
  width: 100%;
  height: 100%;
}

.legend {
  gap: 4px;
  bottom: 10px;
  left: 10px;
  z-index: 999;
  display: flex;
  padding: 6px;
  position: fixed;
  align-items: center;
  border-radius: 16px;
  transition: all 400ms;
  justify-content: center;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  background: rgba(242, 242, 242, 0.5);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(242, 242, 242, 0.3);
}

.legend_item {
  color: #000;
  border: none;
  display: flex;
  padding: 2px;
  outline: none;
  min-width: auto;
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  border-radius: 50%;
  background: #ffffff;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.09);
}

.legend_item__color {
  width: 28px;
  height: 28px;
  margin-right: 0;
  border-radius: 50%;
  border: 1px solid #b9b9b9;
}

@media (min-width: 1056px) {
  .open {
    gap: 12px;
  }

  .legend_item__text {
    display: none;
  }

  .open .legend_item__text {
    display: block;
  }

  .open .legend_item__color {
    margin-right: 12px;
  }

  .open .legend_item {
    border-radius: 4px;
    padding: 6px 12px 6px 8px;
  }
}

@media (max-width: 1055px) {
  .legend {
    gap: 4px;
    padding: 6px;
    border-radius: 16px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    background: rgba(242, 242, 242, 0.5);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(242, 242, 242, 0.3);
  }

  .legend svg {
    display: none;
  }

  .legend_item {
    padding: 0;
    border-radius: 50%;
  }

  .legend_item__color {
    margin-right: 0;
    width: 20px !important;
    height: 20px !important;
  }

  .legend_item__text {
    display: none;
  }
}

.legend svg {
  cursor: pointer;
}

.impacted_cities {
  position: fixed;
  top: 60px;
  right: 10px;
  z-index: 999;
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  padding: 6px;
}

.impacted_city {
  background: rgba(242, 242, 242, 0.5);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(242, 242, 242, 0.3);
}
