.footer {
  bottom: 6rem;
  z-index: 998;
  margin: 10px;
  font-weight: 400;
  position: absolute;
  font-size: 14px;
  text-align: center;
  left: 0;
  right: 0;
  width: 50%;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 8px;
  padding: 1.7rem 0.9rem 0.9rem 0.9rem;
  display: flex;
}

.footer .dismissible span {
  margin: auto;
  text-align: justify;
  text-justify: distribute;
  letter-spacing: -0.3px;
  width: 22rem;
}

.footer .closeButton {
  position: absolute;
  right: 3px;
  top: 3px;
  width: 30px;
  bottom: 0;
  margin: auto;
  cursor: pointer;
}

/* Mobile */
@media (max-width: 600px) {
  .footer {
    margin-bottom: 0;
    padding-bottom: 0;
  }
  .footer {
    width: 85%;
    font-size: 0.56rem;
    font-weight: 400;
    padding: 1.5rem 0.5rem 0.5rem 0.5rem;
  }

  .footer div {
    letter-spacing: -0.2px;
    width: 16rem;
  }
}
