.footer {
  list-style-type: none;
  gap: 10px;
  margin: 0;
  padding: 0;
  display: flex;
  position: fixed;
  left: 10px;
  bottom: 0;
  z-index: 1000;
}

.footer li a {
  text-decoration: underline;
  font-size: 12px;
  background-color: rgba(241, 226, 226, 0.3);
  padding: 2px;
  font-weight: 500;
  color: #0d0d0db8;
}
