.spinnerWrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: transparent;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.spinnerWrapper .spinnerLoaderBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: rgba(151, 209, 144, 0.8);
  border-radius: 5px;
  height: 30px;
  width: 200px;
  margin-top: 10px;
  padding: 10px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinnerWrapper .spinnerLoaderBox .spinnerLoader {
  border: 1px solid white;
  border-radius: 50%;
  border-right-color: transparent;
  border-bottom-color: transparent;
  width: 20px;
  height: 20px;
  animation-name: spin;
  animation-duration: 700ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  margin-right: 10px;
}

.spinnerWrapper .spinnerLoaderBox .spinnerLoaderText {
  color: white;
  font-family: "Lato", sans-serif;
  white-space: pre-wrap;
  font-size: 14px;
  font-weight: bold;
  animation-name: fading;
  animation-duration: 1500ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
