.spinnerWrapper {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.spinnerLoaderBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  align-items: center;
  border-radius: 5px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinnerLoader {
  margin-left: 10px;
}

.spinnerLoaderBox .spinnerLoader {
  border: 1px solid white;
  border-radius: 50%;
  border-right-color: transparent;
  border-bottom-color: transparent;
  width: 20px;
  height: 20px;
  animation-name: spin;
  animation-duration: 700ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  gap: 10px;
}

.spinnerLoaderBox .spinnerLoaderText {
  color: white;
  font-family: "Lato", sans-serif;
  white-space: pre-wrap;
  font-size: 14px;
  font-weight: bold;
  animation-name: fading;
  animation-duration: 1500ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
