.spinnerWrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: #000000cc;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.spinnerWrapper .spinnerLoaderBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(15, 15, 15, 0.5);
  border-radius: 5px;
  height: 200px;
  width: 200px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinnerWrapper .spinnerLoaderBox .spinnerLoader {
  border: 1px solid white;
  border-radius: 50%;
  border-right-color: transparent;
  border-bottom-color: transparent;
  width: 80px;
  height: 80px;
  animation-name: spin;
  animation-duration: 700ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.spinnerWrapper .spinnerLoaderBox .spinnerLoaderText {
  margin-top: 10px;
  padding-top: 10px;
  color: lightgrey;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  animation-name: fading;
  animation-duration: 1500ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
