.technicalErrorWrapper {
  height: 100vh;
  width: 100vw;
  background-color: #000;
  color: #fff;
}

.technicalErrorParaContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}

.technicalErrorIcon {
  font-size: 4rem;
}

.technicalErrorPara {
  font-size: 2rem;
}
.technicalErrorLink {
  font-size: 2rem;
  text-decoration: none;
  color: #fff;
  border: 1px solid white;
  display: inline-block;
  border-radius: 5px;
  transform: scale(0.98);
}
.technicalErrorLink:hover,
.technicalErrorLink:active {
  transform: scale(1);
}
.technicalErrorLink p {
  margin: 0.3rem 0.5rem;
}
